<h2>Seleccione lo que desea ver:</h2>
<a href='@Url.Action("DatoUsuario")'>
        <button class="btn btn-primary">Dato Usuario</button>
    </a>
<a href='@Url.Action("DatoFamiliar")'>
        <button class="btn btn-primary">Dato Familiar</button>
    </a>
<a href='@Url.Action("DatoInteres")'>
        <button class="btn btn-primary">Dato Intreses</button>
    </a>
